<div class="title-g">
    <div class="title-text text-color-title">Hello, NekoMoe</div>
    <div class="title-sub-text">Lua语言WEB单页应用开发框架</div>
    <a class="button title-btn" href="https://github.com/yomunsam/NekoMoe/wiki/%E5%BF%AB%E9%80%9F%E5%BC%80%E5%A7%8B"  target="_blank">快速开始</a>
    <a class="button title-btn" href="https://github.com/yomunsam/NekoMoe" target="_blank">Github</a>
</div>

<div class="foot-info">
    <p class="text-color-title">NekoNya Studio</p>  
</div>

<style>

.title-g{
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%,-50%);
}

.title-text{
    text-align: left;
    font-size:3em;
}

.title-sub-text{
    font-size: 1.5em;
    color: #696969
}

.title-btn{
    padding-left: 8px;
    padding-right: 8px;
    font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
    background-color:#30A9DE;
    /* font-weight: lighter; */
    font-size: 0.9em;
}

.foot-info{
    position: absolute;
    left: 50%;
    top: 95%;
    transform: translate(-50%,-50%);
}

</style>
<link rel="stylesheet" href="app/css/main.css"></link>